<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="images/lang-logo.png">
    </a>
    <h1>Data Entry V.2</h1>
    <p>หน้าทดสอบ สำหรับพัฒนาแอพ V2 <p>
    <a type="button" class="btn btn-lg btn-default" href="/create"><span class="glyphicon glyphicon-flash"></span> สำหรับพนักงานเค้าร์เตอร์</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/no-local-dev-getting-started"><span class="glyphicon glyphicon-download"></span> สำหรับช่าง</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev" class="alert-link">Getting Started on Heroku with Heroku Connect</a> tutorial.
  </div>
 
  </div> <!-- row -->
</div>
