<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Firstname %></td>
        <td><%= contact.Lastname %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </table>

</div>
