<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>

    <% @contacts.each do |account| %>
      <tr>
        <td><%= account.accountnumber %></td>
        <td><%= account.name %></td>
        <td><%= account.phone %></td>
      </tr>
    <% end %>
  </table>

</div>
